<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  
  <script src="/js/app.js"></script>
  <title>HELP</title>
</head>
<body>
  <div>
  {{>header}}  
  <p>{{content}}</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sapiente quod eius a quam quisquam ducimus accusamus provident quaerat? Rem commodi exercitationem ratione voluptatem nesciunt iure quisquam cumque, fugiat suscipit non praesentium amet illum quis pariatur quos optio tempora earum incidunt rerum nobis! Magnam reprehenderit inventore totam velit, necessitatibus eum, est ea ipsa modi quia quis iure dolores officiis minus.</p>
  </div>
  {{>footer}}
</body>
</html>